node_modules
public/dist/bundle.js
db/dbconfig.js
coverage/clover.xml
coverage/lcov-report/index.html
coverage
db/psql/psql_bookings.csv
db/psql/psql_rooms.csv
db/cass/cass_bookings.csv
db/cass/cass_rooms.csv